body {
background-color: lightgreen;
}

#row {
background-color: pink;
text-align : center;
}

#one {
text-align: right;
min-width: 150px;
}

#two {
text-align: center;
}

#three {
text-align: left;
}

#name_one{
    text-align: center;
    min-width: 200px;
}

#name_two{
    text-align: center;
}

#name_three{
    text-align: center;
}

#year{
    text-align: center;
    min-width: 50px;
}

#img{
    text-align: center;
    min-width: 200px;
}